.input-email {
    width: 100%;
    padding: 1em 1em;
    outline: none;

    &:hover {
        border-color: var(--primary-desaturated-blue);
    }

    &:focus {
        border-color: var(--primary-desaturated-blue);
    }

    @include mq(desktop) {
        display: inline-block;
        width: 50%;
    }
}
.input-email--block {
    @include mq(desktop) {
        display: block;
        width: 30vw;
    }
}