.input-email {
    width: 100%;
    padding: 1em 1em;

    @include mq(desktop) {
        display: inline-block;
        width: 50%;
    }
}
.input-email--block {
    @include mq(desktop) {
        display: block;
        width: 30vw;
    }
}