//clases reutilizables
.l-container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.center-content {
    text-align: center;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
}

//header
.main-nav {
    height: 5rem;
    margin-bottom: 4rem;

    @include mq(desktop) {
        margin-bottom: 5.5rem;
    }
}
.main-nav__block {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-nav__logo-container--img {
    height: 2rem;
    padding-left: 1rem;
    display: flex;

    @include mq(desktop) {
        padding-right: 30rem;
    }
}

//main
//section de archivos accesibles
.section-secure {
    margin-bottom: 8rem;

    @include mq(desktop) {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10rem;
    }
}
.section-secure__img {
    margin-bottom: 2.5rem;
}
.section-secure--l-content {
    @include mq(desktop) {
        padding-top: 5rem;
    }
}
.section-secure__title {
    @include mq(desktop) {
        text-align: left;
        line-height: 1.5;
    }
}
.section-secure__text {
    margin-bottom: 2.5rem;

    @include mq(desktop) {
        text-align: left;
    }
}
.input-email {
    margin-bottom: 1rem;

    @include mq(desktop) {
        margin-right: 1rem;
    }
}
//section productiva
.section-productive {
    margin-bottom: 3rem;

    @include mq(desktop) {
        display: flex;
        // flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}
.section-productive__img {
    margin-bottom: 8rem;

    @include mq(desktop) {
        
        // height: 100px;
        // width: 100px;
    }
}
.section-productive--l-content {
    @include mq(desktop) {
        
    }
}
.section-productive__title {
    text-align: center;
    margin-bottom: 2.2rem;

    @include mq(desktop) {
        text-align: left;
    }
}
.section-productive__text {
    margin-bottom: 1.5rem;

    &:nth-last-child(2) {
        margin-bottom: 2rem;

        @include mq(desktop) {
            margin-bottom: 1rem;
        }
    }

    @include mq(desktop) {
        margin-bottom: 0;
        text-align: left;
    }
}
.btn-container {
    width: 90vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include mq(desktop) {
        width: auto;
    }
}
.btn-link {
    display: inline-flex;

    @include mq(desktop) {
        align-items: center;
    }

    &__icon {
        padding-left: .5em;
    }
}

// section commentary
.section-commentary {
    margin-bottom: 8rem;
    width: 75vw;
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
blockquote {
    margin: 0;

    p {
        margin-top: 0;
    }
}
blockquote::before {
    content: "\201c";
    display: inline-block;
    height: 0;
    font-size: 30px;
}
.section-commentary__text-quote {
    line-height: 1.7;
}
.section-commentary__l-container {
    display: flex;
    align-items: center;
    height: 40px;
}
.section-commentary__avatar {
    height: 100%;
    border-radius: 50%;
}
.section-commentary__text-content {
    margin-left: 1em;
}
.section-commentary__text {
    font-size: var(--smaller-font-size);
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
        font-size: var(--body-font-size);
        margin-bottom: 0;
    }
}
//section access today
.section-access {
    height: 350px;
    padding: 4em;

    &__text {
        margin-bottom: 2rem;
    }
}

//footer
.footer {
    padding: 4em;

    &__logo {
        margin-bottom: 2rem;
        color: #fff;
    }
}
.l-icon {
    display: flex;
    align-items: center;

    &-separate {
        margin-bottom: 2.2rem;
    }

    &__img {
        margin-right: 1rem;
    }
}
.footer__text {

    &--separate {
        margin-bottom: 2.2rem;
    }
}
.l-icon__social-media {
    display: flex;
    justify-content: center;
}
.l-icon__link-container {
    margin-right: 1rem;
}